<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-300 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-6 max-w-md w-full my-10">

        <h1 class="text-2xl font-semibold text-center mb-6">Make a Reservation</h1>
        <form action="/bookTable" method="POST">
            <div class="mb-4">
                <label for="date" class="block text-gray-700 font-medium mb-2">Date:</label>
                <input type="date" id="date" name="date"
                    class="w-full border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-300" required />
            </div>
            <div class="mb-4">
                <label for="time" class="block text-gray-700 font-medium mb-2">Time:</label>
                <input type="time" id="time" name="time"
                    class="w-full border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-300" required />
            </div>
            <div class="mb-4">
                <label for="guests" class="block text-gray-700 font-medium mb-2">Number of Guests:</label>
                <input type="number" id="guests" name="guests"
                    class="w-full border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-300" min="1"
                    required />
            </div>
            <div class="mb-4">
                <label for="name" class="block text-gray-700 font-medium mb-2">Name:</label>
                <input type="text" id="name" name="name"
                    class="w-full border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-300" required />
            </div>
            <div class="mb-4">
                <label for="contact" class="block text-gray-700 font-medium mb-2">Contact Details:</label>
                <input type="text" id="contact" name="contact"
                    class="w-full border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-300" required />
            </div>
            <div class="flex justify-between">
                <!-- <button type="button"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
                    Check Availability
                </button> -->
                <button type="submit"
                    class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 focus:outline-none focus:ring focus:ring-green-300">
                    Book Now
                </button>

            </div>
            <div class="mt-3">
                <% if (error ) { %>
                    <p style="color: red;">
                        <%= error %>
                    </p>
                    <% } %>
            </div>
        </form>
    </div>
</body>

</html>